<!--{{mavariable}} World!
<br/>
<input type="text" ng-model='mavariable' />
<button type="button" ng-click='mafonction()'>Click</button>-->
<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro</th>
        <th>Action</th>
    </tr>
    <tr>
        <td><input type="text" ng-model='nom'></td>
        <td><input type="text" ng-model='prenom'></td>
        <td><input type="text" ng-model='numero'></td>
        <td><button type="button" ng-click='ajouter()'>Ajouter</button></td>

    </tr>



</table>